<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <title>$title$</title>
</head>
<body>
  <article>
    <header>
      <h1>$title$</h1>
    </header>
    <section>
      <img src="imgs/zite-logo.png">
      <h2>Welcome to Zite, you're using the Lazite theme!</h2>
      <p>Customize this page in templates/home-template.html</p>
    </section>
    $body$
  </article>
</body>
</html>